<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div ng-repeat="league in leagueList">
			<div>
				<button class="btn btn-default user-btn" ng-click="selectCurrentLeague(league._id)"> {{league.name}} </button>
			</div>
			</div>
		</div>
		<div class="col-md-9 form-group" ng-show="currentLeague">
			<h2> {{currentLeague.name}} </h2>
			<label> Leauge Name: </label>
			<input class="text" type="text" ng-model="currentLeague.name"></input>
			<h4> Users: </h4>
			<div ng-repeat="user in currentLeague.users">
				{{user}} | <a href="" ng-click="removeUserFromLeague(user)"> Remove </a>
			</div>
			<h4> Add Users: </h4>
			<div>
				<div ng-repeat="user in userList">
					<a href="" ng-click="addUserToLeague(user.username)"> {{user.username}} </a>
				</div>
			</div>
			<div>
				<button class="btn btn-default user-btn" ng-click="submitLeague()"> Update Leauge {{currentLeague.name}} </button>
			</div>
		</div>
	</div>
</div>