<div class="container-fluid">
<div class="jumbotron text-center"> 
	<div class="panel panel-default main-panel">
		<h1> Football Pick'em </h1>
		<p> Select a week and pick the winners </p>
		<div class="container row form-group">
				<div class="text-center">
					<label for="sel1">
						<select 
							class="form-control" 
							ng-model="weekSchedule.selected" 
							ng-options="week.weekNumber for week in schedule | orderBy: 'weekNumber'" 
							ng-change="mctrl.getCurrentWeekGames(weekSchedule.selected.weekNumber)" 
						/>
					</label>
				</div>
		</div>
	</div>
</div>
</div>
<div ng-repeat="pick in picks">
{{pick}}}
</div>
<div ng-repeat="game in currentGames">
	{{attachUserPick(game, picks)}}
	<game-panel game="game" user="userModel"></game-panel>
</div>
<!--
<div class="container-fluid my-container" ng-show="weekSchedule.selected">
	<football-teams></football-teams>
</div>-->