<div class="container-fluid">
<div class="row">
	<div class="col-md-2">
		<div ng-repeat="names in userlist">
		<div>
			<button class="btn btn-default user-btn" ng-click="getUserDetail(names._id)"> {{names.username}}</button>
		</div>
		</div>
	</div>	
	<div class="col-md-8">
	 
		<div> <h2> {{userModel.username | uppercase}} </h2> 
			<user-stats userModel="userModel"></user-stats>
		</div>
		<div ng-repeat="pick in userModel.picks | orderBy:'week'">
			<h3> Week: {{pick.week}}</h3>
			<div ng-repeat="game in pick.picks" class="row">
				<div class="col-sm-1">
				{{game.gameId}} 
				</div>
				<div class="col-sm-3">
				{{game.details.home}} @ {{game.details.visitor}} 
				</div>
				<div class="col-sm-2">
				 <label> {{game.details[game.details.winner]}} </label>
				</div>
				<div class="col-sm-2">
					<select name="winnerSelect" ng-model="game.winner">
							<option value="home"> {{game.details.home}} </option>
							<option value="visitor"> {{game.details.visitor}} </option>
					</select>
				</div>
				<div class="col-md-2">
					<button ng-click="updatePick(pick._id, pick)" class="btn btn-default"> Update </button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<h2 ng-show="userModel.leagues"> Leagues </h2>
		<div ng-repeat="league in userModel.leagues">
			{{league.name}} | <a href="" ng-click="removeUserFromLeague(userModel.username, league)"> Remove </a>
		</div>
	</div>
</div>
</div>