doctype html
html(ng-app='Football')
	head
		title= title
		script(src='public/javascripts/jquery-1.11.3.js')
		script(src='public/javascripts/angular.js')
		script(src='public/javascripts/ui-bootstrap-tpls-0.14.3.js')
		script(src='public/javascripts/angular-route.js')
		script(src='public/javascripts/bootstrap.js')
		link(rel='stylesheet' href='public/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='public/stylesheets/style.css')
		script(src='public/javascripts/app.js')
		script(src='public/javascripts/controllers/MainController.js')
		script(src='public/javascripts/controllers/LoginController.js')
		script(src='public/javascripts/controllers/UserController.js')
		script(src='public/javascripts/controllers/AdminController.js')
		script(src='public/javascripts/directives/footballTeams.js')
		script(src='public/javascripts/services/schedule.js')
		script(src='public/javascripts/services/auth.js')
		script(src='public/javascripts/services/users.js')
		meta(name="viewport" content="width=device-width, inital-scale=1")
	body
		nav(class="navbar navbar-default navbar-fixed-top")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				a(class="navbar-brand" href="#/") Logo
				div(class="collapse navbar-collapse")
					ul(class="nav navbar-nav navbar-right")
						li
							a(href="#/") About
						li
							a(href="#/login") Sign In
						li
							a(href="#/users") Users
						li
							a(href="#/admin") Admin
		block content
		
		
		
		
