body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 50px; 
}
.login{
	margin-top: 15px;
}
.jumbotron{
	background-image: url('/public/logos/stadium3.jpg');
	background-size: cover;
	height: 400px;
}
input[type="radio"] {
    opacity:0.01;
    z-index:100;
}
.my-container{
	border-radius: 10px;
	background-image: url('/public/logos/stadium2.jpg');
	background-position:center;
	height: auto;
	width:100;
	}
.tile{
	width:100%;
	border-style: solid;
	border-width: thin;
	margin: 5px;
	border-color: gray;
}
a {
  color: #00B7FF;
}
.panel{
	padding: 3px;
}