<div class="row" ng-repeat="week in info track by $index" id="{{week.Week}}">
	<div class="row"> <h4> Week {{week.Week}} </h4>
	<div class="row" data-toggle="buttons" ng-repeat="team in week.Teams">
		<div class="col-md-2 col-md-3-offset centered">
			<input type="radio" name="{{team.visitor}}" /> 
			<label for="{{$index}} home" class="btn btn-default">{{team.visitor}}</label>
		</div>
		<div class="col-md-2 col-md-3-offset centered">
				<input type="radio" name="{{team.home}}"/>
				<label for="{{$index}} away" class="btn btn-default btn-md">  {{team.home}} </label>
		</div>
	</div>
	</div>
</div>