<div class="row">
	<!--section for week with user picks and standings-->
	<div ng-repeat="weeks in league track by $index">
			<h6>  Week: {{weeks.week}}  </h6>
			<table class="table table-condensed table-striped">
				<tr ng-repeat="results in weeks.results | orderBy: '-wins'">
					<td class="col-sm-2 col-xs-2" ng-style="highlighted(username, results.username)"> {{results.username}} </td>
					<td class="col-sm-2 col-xs-2"> {{results.wins}} </td>
					<td class="col-sm-2 col-xs-2"> {{results.losses}} </td>
				</tr>
			</table>
	</div>
</div>
